* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.container {
    height: 80vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    flex-direction: column;
    gap: 4rem;
} 

a {
    font-size: 5rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

p {
    font-size: 5rem;
    color: rgb(99, 3, 99);
    font-weight: 600;
}